.about-me {
    height: 15vh;
    padding: 2vh 2vw;
    margin: 2vh 5vw;
    color: #ffffff;
}

.about-me-content {
    padding: 0.5vh 0.5vw;
    text-justify: auto;
}

.about-me-content blockquote {
    font-size: small;
}

@media (max-width: 1100px) {
    .about-me-content {
        font-size: small;
    }
    .about-me-content blockquote {
        font-size: xx-small;
    }
}

@media (max-width: 650px) {
    .about-me-content {
        font-size: x-small;
    }
    .about-me-content blockquote {
        font-size: xx-small;
    }
}