#about-me {
    background-color: #262a2d;
}

#about-me-menu {
}

#about-me-content {
    color: #ffffff;
}

#about-me-content h3{
    color: #6db33f;
}

#about-me-content blockquote{
    font-family: 'Cantarell Extra Bold', sans-serif;
}