.card {
    box-shadow: 0 0.1vh 0.3vh rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    cursor: pointer;
    text-align: center;
    color: white;
}

.card-content {
    background: rgba(41, 31, 66, 0.8);
    margin: 0;
    height: 100%;
    padding: 0;
}

.card-content h3{
    margin: 0;
    padding: 2vh 2vw;
}

.card-content p{
    padding: 0 5vw;
}

.tags {
    font-weight: bold;
    text-align: left;
}

.tag {
    display: inline-block;
    height: 2.3vh;
    font-weight: 500;
    font-size: medium;
    color: rgba(0, 0, 0, 0.6);
    line-height: 2vh;
    padding: 0 0.5vh;
    border-radius: 0.3vw;
    background-color: #e4e4e4;
    margin-bottom: 0.5vh;
    margin-right: 0.5vh;
    transition: all .15s ease-in-out;
}

.read-me {
    background: indigo;
    color: #ffffff;
    text-decoration: none;
    font-size: large;
}

@media (max-width: 1400px) {
    .card-content, .tag {
        font-size: small;
    }
}

@media (max-width: 850px) {
    .card-content, .tag {
        font-size: x-small;
    }
}

@media (max-width: 500px) {
    .card-content, .tag {
        font-size: xx-small;
    }
}

@media (max-height: 600px) {
    .tags {
        visibility: hidden;
    }
}

@media (max-width: 450px) {
    .tags {
        visibility: hidden;
    }
}


