#social-icon {
    color: #80ea6e;
}

#nav-bar {
    color: #80ea6e;
    background-color: #1b1f23;
//border: 2px solid #80ea6e;
}

#nav-toggle {
    background-color: #80ea6e;
}

#nav-item {
    color: #ffffff;
    text-align: center;
}