#social-container {
    height: 2vh;
    padding: 1.5vh;
}

.social-item {
    margin: 0 2rem;
    transition: transform 250ms;
    display: inline-block;
}

.social-item:hover {
    transform: translateY(+1.2vh);
}

.facebook {
    color: #4968ad;
}

.twitter {
    color: #49a1eb;
}

.linkedin {
    color: #49a1eb;
}

.github {
    color: #ffffff;
}

.slack {
    color: brown;
}
